.git-button {
    display: block;
    height: 34px;

    img {
        width: 30px;
        display: inline-block;
        transition: filter .3s ease;
    }

    p {
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
        display: inline-block;
    }


    &:hover {
        img{
            filter: invert(1);
        }
    }
}