$black: #343a40;

.card {
    border-radius: 10px;
    transition: color .3s ease, background-color .3s ease;

    .card-subtitle {
        text-transform: capitalize;
    }

    &:hover {
        background-color: $black;
        color: #fff;

        .card-body {
            a.btn {
                background-color: #fff;
                color: $black;

                &:hover {
                    background-color: lighten($black, 20);
                    color: #fff;
                    img{
                        filter: invert(1);
                    }
                }
            }
        }
    }
}


.git-button {
    display: block;
    height: 34px;

    img {
        width: 30px;
        display: inline-block;
        transition: filter .3s ease;
    }

    p {
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
        display: inline-block;
    }
}

.card {
    margin-bottom: 30px !important;
}
